@model SDAFWebApp.Models.FormViewModel<LandscapeModel>

@{
    ViewBag.Title = "Deploy workload zone";
    ViewData["control_plane_name"] = Model.SapObject.controlPlaneName;
    IEnumerable<SelectListItem> environments = ViewBag.environments;
 }

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    window.onload = function () {
        $(".js-example-placeholder-single").select2({
            placeholder: "Search...",
            allowClear: true,
            tags: true
        });

        toggleNullParameters();
        toggleDisableViaNInputs(['environment'], 'confirm-deploy-landscape-checkbox') // in the case that it is already set
    }

</script>

<fluent-breadcrumb>
    <fluent-breadcrumb-item href="@Url.Action("Index", "Home")">Home</fluent-breadcrumb-item>
    <fluent-breadcrumb-item href="@Url.Action("Index", "Landscape")">Workload zones</fluent-breadcrumb-item>
    <fluent-breadcrumb-item href="#">Deploy</fluent-breadcrumb-item>
</fluent-breadcrumb>

<div class="text-center">
    <h2>Deploy a workload zone</h2>
</div>

<h4>Are you sure you want to deploy @Model.SapObject.Id?</h4>
<div>
    @await Html.PartialAsync("_DetailsPartial", Model)

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="ms-TextField">                    
            <div class="left-input">
                    @Html.Label("control_plane_name", "Control plane name", new { @class = $"ms-Label" })
                <p>Control Plane Name</p>
            </div>
            <div class="right-input">
                @Html.TextBox("control_plane_name", Model.SapObject.controlPlaneName, new { @class = "ms-TextField-field" })
            </div>
        </div>

            <div class="ms-TextField">
                <div class="left-input">
                @Html.Label("environment", "Workload Zone Name", new { @class = $"ms-Label required" })
                    <p>Please specify the workload environment to deploy to (DEV, QA, PRD, ...)</p>
                </div>

                <div class="right-input">
                @Html.DropDownList("workloadZoneName", environments, new { @class = "js-example-placeholder-single", @style = "width: 100%;", @onchange = $"toggleDisableViaNInputs(['workloadZoneName'], 'confirm-deploy-landscape-checkbox')" })
                </div>
            </div>

        <fluent-checkbox id="confirm-deploy-landscape-checkbox" onchange="toggleDisableViaCheckbox(this, 'deploy-landscape-button')" >I confirm that I wish to deploy this workload zone</fluent-checkbox><br />

        <fluent-button id="deploy-landscape-button" appearance="accent" value="Deploy" type="submit" disabled>
            <i class="ms-Icon ms-Icon--Send" aria-hidden="true"></i> Deploy
        </fluent-button>

        <fluent-anchor href="@Url.Action("Index", "Landscape")">
            Cancel
        </fluent-anchor>

    }
</div>
